<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <title> {{ .Title }} : xroboto </title>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/bootstrap-glyphicons.css"/>
<link type="text/css" rel="stylesheet" href="/css/main.css"></style>


    {{ partial "head_includes.html" . }}
</head>
<body lang="en">


<div class="container">
	<nav class="navbar navbar-default navbar-inverse" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">xroboto</a>
			</div>

      <ul class="nav navbar-nav">
        <li><a href="/artists/">Artists</a></li>
      </ul>

			<ul class="nav navbar-nav navbar-right pull-right">
				<li><a href="/misc/about/">about</a></li>
			</ul>
		</div>
	</nav>



